Like Apriori, FP-Growth(Frequent Pattern Growth) algorithm helps us to do Market Basket Analysis on transaction data. 

FP-Growth is preferred to Apriori for the reason that Apriori takes more execution time for repeated scanning of the transaction dataset to mine the frequent items . 

FP-Growth builds a compact- tree structure and uses the tree for frequent itemset mining and generating rules.

In [1]:
# Importing the libraries

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth

For this example, we are using the dummy transactional data of books which consists of 5 transactions and 5 items where each transaction have less than 5 items

In [4]:
# Create the dummy dataset

dataset = [['TFIOS', '5Feet apart', 'Walk to remember'], ['TFIOS', 'Walk to remember'], ['Diverget', 'Harry Potter', 
                                                                                        'Walk to remember'],
          ['TFIOS', '5Feet apart'], ['Diverget', 'Harry Potter']]

dataset

# Lets convert this into a transactional data

encoder = TransactionEncoder()

# Lets fit this object on our data set - which will give the output as arrey

trans_arrey = encoder.fit(dataset).transform(dataset)

trans_arrey

# Lets convert this into a pandas data frame

df = pd.DataFrame(trans_arrey, columns = encoder.columns_)

df

   5Feet apart  Diverget  Harry Potter  TFIOS  Walk to remember
0         True     False         False   True              True
1        False     False         False   True              True
2        False      True          True  False              True
3         True     False         False   True             False
4        False      True          True  False             False

In [7]:
# Lets find the set of frequent items using fpgrowth

freq_items = fpgrowth(df, use_colnames = True)

freq_items

   support            itemsets
0      0.6  (Walk to remember)
1      0.6             (TFIOS)

By default FP Growth will show those items for which the support is >= 0.6 i.e if the item appear in min 60% of the transactions. In case if you want to change this.

In [8]:
# Lets assume, you want the list of all the items which are with min support of .3

fpgrowth(df, min_support = 0.3, use_colnames = True)

   support                   itemsets
0      0.6         (Walk to remember)
1      0.6                    (TFIOS)
2      0.4              (5Feet apart)
3      0.4             (Harry Potter)
4      0.4                 (Diverget)
5      0.4  (Walk to remember, TFIOS)
6      0.4       (5Feet apart, TFIOS)
7      0.4   (Harry Potter, Diverget)